boost_1_49_0
Ultraspherical/Matlab.log
Ultraspherical/texput.log
Ultraspherical/UltrasphericalMatlab.log
Ultraspherical.xcodeproj/project.xcworkspace/xcuserdata/solver.xcuserdatad/UserInterfaceState.xcuserstate
Ultraspherical.xcodeproj/xcuserdata/solver.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
Ultraspherical.xcodeproj/project.xcworkspace/xcuserdata/solver.xcuserdatad/UserInterfaceState.xcuserstate
