boost_1_49_0
Ultraspherical.xcodeproj/project.xcworkspace/xcuserdata/solver.xcuserdatad/UserInterfaceState.xcuserstate
Ultraspherical.xcodeproj/xcuserdata/solver.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
Ultraspherical/Matlab.log
Ultraspherical/texput.log
Ultraspherical/UltrasphericalMatlab.log
Ultraspherical.xcodeproj/project.pbxproj
Ultraspherical.xcodeproj/project.xcworkspace/xcshareddata/Ultraspherical.xccheckout
Ultraspherical.xcodeproj/project.xcworkspace/xcuserdata/solver.xcuserdatad/WorkspaceSettings.xcsettings
Ultraspherical.xcodeproj/xcuserdata/solver.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Ultraspherical.xcodeproj/xcuserdata/solver.xcuserdatad/xcschemes/Ultraspherical.xcscheme
Ultraspherical.xcodeproj/xcuserdata/solver.xcuserdatad/xcschemes/UltrasphericalMathLink.xcscheme
Ultraspherical/UltrasphericalMathLink
Ultraspherical.xcodeproj/project.pbxproj
Ultraspherical.xcodeproj/xcuserdata/solver.xcuserdatad/xcschemes/Ultraspherical.xcscheme
Ultraspherical.xcodeproj/xcuserdata/solver.xcuserdatad/xcschemes/UltrasphericalMathLink.xcscheme
